@import '../../../../styles/constants/index.scss';
@import '../../../../styles/mixins';

.header {
  position: fixed;
  width: 100%;
  // top: 0;
  // left: 0;
  z-index: 100;
  min-height: 86px;
  padding: 20px 0;
  transition: all 0.2s ease-in-out;
  background-color: $white;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  // &--on-scroll {
  // }

  &__right-block {
    display: flex;
    align-items: center;
    transform: translateY(3px);
  }

  &__menu-btn-wrapper {
    flex-shrink: 0;
    margin-left: 20px;
  }

  &__aside {
    @media screen and (min-width: $deviceSizeMD) {
      display: none;
    }
  }
}
