/**
 * Application initial colors
 */

$black: #000000;
$white: #ffffff;

$primaryGreen: #add136;
$secondaryGreen: #f5f9eb;
$primaryBlue: #26a6d1;
$secondaryBlue: #e2f8ff;

$textPrimary: #515151;
$textSecondary: #969696;

$backgroundPrimary: #666666;
$backgroundSecondary: #989898;
$backgroundCard: #f9f9f9;
$borderButton: #b6b6b6;
$progressBar: #e3e3e3;
